@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;1,200&display=swap');



h2{
    background-color: rgb(169, 243, 218);
    color: black;
}
h1{
    color: black;
    background-color: #ff0000;
}
body{
    color: blueviolet;
    font: 200 13px 'Roboto Mono', monospace ;
}